/* GENERAL STYLE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* FLEX CONTAINERS HELPERS */
.flex { display: flex; } 
.spacebtw { justify-content: space-between; }
.alignctr { align-items: center; }
.justyctr { justify-content: center; }

/* UTILITY | centratura */
.box { 
    max-width: 60rem; /* 960px su 1536px */
    margin: 0 auto;
}

/* GENERIC UTILITIES | border; padding x box; whitetxt; cursor */
.border { border: 1px dashed black; }
.pad { padding: 2.5rem;} /* 40px */
.txtwhite { color: white; }
.cursor { cursor: pointer; }

/* UTILITY | hover text */
.TxtUnderUpper:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/* UTILITY | style button */
button {
    padding: 7px 14px;
    border: 1px solid white; 
    border-radius: 16px; 
}

button:hover {
    color: #5765F2;
    box-shadow: 0px 14px 20px -10px rgba(0,0,0,0.8); 
}

/* HEADER STYLE */
header {
    /* background-color: #AED8E6; */
    padding-top: 1rem;
    width: 100vw; /* 1536px */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    line-height: 50px;
}

nav {
    width: 60%;
    text-align: center;
}

#yellowbox > * {
    padding: 0.9%;
}

a {
    text-decoration: none;
    padding-right: 4%;
}

header > section:last-child {
    /* background-color: #06008B; */
    width: 100%;
    margin-top: 1rem; /* 16px */
}

#pinkbox {
    background-color: #EE82EF;
    max-width: 47%; /* 725px su 1536px */
    min-height: 20rem; /* 320px su 1536px */
    margin: 0 auto;
}

/* MAIN STYLE */
main {
    width: 100vw; /* 1536px */
}

.bkgrey {
    background-color: #D3D3D3;
}

.lightblue {
    background-color: #1D90FF;
    min-width: 60%; /* 576px su 960px */
    min-height: 25rem; /* 400px */
}

.pinky {
    background-color: #FFC0CC; 
    min-width: 40%; /* 384px su 960px */
    min-height: 25rem; /* 400px */
}

#greenbig {
    background-color: #228B23;
    min-height: 45rem; /* 720px */
}

/* FOOTER STYLE */
footer {
    background-color: #23272A;
    width: 100vw; /* 1536px */
}

footer > section:first-child {
    padding-top: 0.6rem; /* 10px */ 
    padding-bottom: 1.8rem; /* 30px */
}

#rose {
    background-color: #F08080; 
    min-width: 30%; /* 290px su 960px */
    min-height: 28rem; /* 460px */
}

#ocean {
    background-color: #1EB2AA;
    min-width: 70%; /* 670px su 960px */
    min-height: 28rem; /* 460px */ 
}

#ocean div {
    border: 1px dashed white;
    min-width: calc(100% / 4); 
}

#lightgreen {
    background-color: #7FFFD4;
    text-align: center;
    margin-top: 1.25rem; /* 20px */
    align-items: center;
    min-height: 3.75rem; /* 60px */
}

#lightgreen > div {
    background-color: #FFB6C1;
    padding: 0.7%;
}