/* GENERAL STYLE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* FLEX CONTAINERS HELPERS */
.flex { display: flex; } 
.spacebtw { justify-content: space-between; }
.alignctr { align-items: center; }
.justyctr { justify-content: center; }

/* UTILITY | centratura */
.box { 
    max-width: 60rem; /* 960px su 1536px */
    margin: 0 auto;
}

/* GENERIC UTILITIES | border; padding-box; txtcolor; cursor; txtcenter */
.pad { padding: 2.5rem;} /* 40px */
.txtwhite { color: white; }
.cursor { cursor: pointer; }
.txtalignctr { text-align: center; }
.txtviolet { color: #7289DA; }

/* UTILITY | hover text */
.TxtUnderUpper:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/* UTILITY | generic style button */
button {
    padding: 7px 14px;
    border: 1px solid white; 
    border-radius: 16px; 
}

button:hover {
    color: #5765F2;
    box-shadow: 0px 14px 20px -10px rgba(0,0,0,0.8); 
}

/* HEADER STYLE */
header {
    /* background-color: #AED8E6; */
    padding-top: 1rem;
    width: 100vw; /* 1536px */
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav {
    width: 60%;
}

#yellowbox > * {
    padding: 0.9%;
    line-height: 50px;
}

a {
    text-decoration: none;
    padding-right: 4%;
}

header > section:last-child {
    /* background-color: #06008B; */
    width: 100%;
    margin-top: 1rem; /* 16px */
}

#pinkbox {
    max-width: 47%; /* 725px su 1536px */
    min-height: 20rem; /* 320px su 1536px */
    margin: 0 auto;
}

h1 {
    margin: 4%;
    font-size: 2.8rem;
}

#pinkbox > p {
    margin: 2%;
    line-height: 2rem;
}

i {
    padding-right: 0.2rem;
}

#pinkbox button:last-child {
    background-color: #23272A;
    border-color: #23272A;
}

#pinkbox button:last-child:hover {
    color: white;
    background-color: #23272ac7;
}

#pinkbox button , #greenbig button {
    margin: 2%;
    font-size: 1rem;
}

/* MAIN STYLE */
main {
    width: 100vw; /* 1536px */
}

.bkgrey {
    background-color: #F3F3F3;
}

.lightblue {
    min-width: 60%; /* 576px su 960px */
}

.lightblue > img , #greenbig > img {
    width: 100%;
}

.pinky {
    min-width: 40%; /* 384px su 960px */
}

.pinky > h2 {
    font-size: 2rem;
    margin: 3% 0 5%;
}

.wave {
    opacity: 0.05;
    width: 100vw;
    display: block;
}

#rotatewave {
    transform: rotate(180deg);
}

#greenbig > h2 {
    font-size: 2rem;
    margin: 3% 0 2%;
}

#greenbig > img:nth-child(4) {
    width: 50%;
}

h3 {
    font-size: 1.4rem;
    margin-top: -1rem;
}

#greenbig > button, #lightgreen button {
    background-color: #8EA1E1;
    border-color: #8EA1E1;
}

#greenbig > button:hover, #lightgreen button:hover {
    background-color: #5764f2d7;
    color: white;
}

/* FOOTER STYLE */
footer {
    background-color: #23272A;
    width: 100vw; /* 1536px */
    padding-bottom: 2%;
}

footer > section:first-child {
    padding-top: 0.6rem; /* 10px */ 
}

#rose {
    min-width: 30%; /* 290px su 960px */
}

#italy {
    max-width: 2rem;
    padding-right: 2%;
}

#rose > i {
    margin: 10% 6% 10% 0;
}

#rose > h3 {
    margin: 0 0 10%;
}

#ocean {
    min-width: 70%; /* 670px su 960px */ 
}

#ocean div {
    min-width: calc(100% / 4); 
}

#ocean ul {
    list-style-type: none;
    line-height: 2rem;
}

hr {
    border-color: #7289DA;
}

#lightgreen {
    margin-top: 1.25rem; /* 20px */
    align-items: center;
}

#lightgreen > div {
    padding: 0.7%;
}